.container-fluid {
    background-color: rgba(245, 255, 255, 0.3);
    padding: 20px;
}

.error {
    color: #041f3c;
    font-weight: bold;
    text-align: center;
}

.toolbar button {
    width: 100%;
}

.toolbar {
    margin: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.titleCard {
    color: #4c4f51;
    text-align: center;
    margin: 14px;
}