.DetailedCard {
    padding: 15px;
    color: #5f6367;
}

.baseData {
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
}

.detailsWeather {
    font-size: 16px;
    text-align: center;
    padding: 0px;
}

.row {
    justify-content: center;
}

.temperature {
    font-weight: bold;
    font-size: 5em;
    margin: 0px;
}

.tableWeather {
    margin: 15px 10px;
    width: 100%;
    font-size: 14px;
}

.trWeather {
    border-bottom: 1px solid #6c757d;
    border-top: 1px solid #6c757d;
}

.weatherBase {
    text-align: center;
}

.thTitle {
    text-align: left;
}

.thDetail {
    text-align: right;
    padding-right: 20px;
}