.dayWeather {
    background-color: rgba(20, 38, 50, 0.37);
    color: #fff;
    text-align: center;
    max-width: 230px;
    min-width: 230px;
    margin: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.cardText {
    padding: 0px;
}